@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;669;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.Home__butons {
  margin-top: 40px;
}

.Home__btn--primary {
  background: #145598;
  color: white;
  text-decoration: none;
  padding: 12px 16px;
  font-size: 14px;
  text-transform: "uppercase";
  font-weight: bold;
  border-radius: 2px;
  box-sizing: border-box;
  width: 150px;
  text-align: center;
}

.Home__btn--secondary {
  border: 1px solid #145598;
  color: #145598;
  text-decoration: none;
  padding: 12px 16px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 2px;
  font-weight: bold;
  box-sizing: border-box;
  width: 150px;
  text-align: center;
  font-family: Lato;
  /* margin-left: 16px; */
}
