@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;669;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  background-color: var(--body-bg);
  color: var(--text-color);
  transition: 500ms ease background, 500ms ease color;
}

.ContentWrapper {
  padding-top: var(--header-height);
}
