body {
  --header-height: 65px;
  --landing-padding: 80px;
  --body-bg: white;
  --text-color: black;
  --header-divider: #f0f0f2;
  --icon-color: #333;
  --btn-primary: #333;
  --btn-primary-text: white;
  --code-bg: #f7f7f7;
  --header-hover: #f7f7f7;
  --primary: #145598;
  --drawer-bg: #fff;
}

body.dark-mode {
  --body-bg: #141821;
  --text-color: #e7ebef;
  --header-divider: #2f2f31;
  --icon-color: #f7f7f7;
  --btn-primary: #f7f7f7;
  --btn-primary-text: #333;
  --code-bg: #232429;
  --header-hover: #1d2431;
  --drawer-bg: #141821;
}
