.CrossPlatform {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: var(--landing-padding);
}

.CrossPlatform__text {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.CrossPlatform__text h3 {
  font-weight: bold;
  font-family: Lato, sans-serif;
}

.CrossPlatform__text p {
  width: 400px;
}

.CrossPlatform__media,
.CrossPlatform__media svg {
  height: 400px;
  width: 400px;
}

.CrossPlatform__circle {
  fill: var(--body-bg) !important;
}
.CrossPlatform__circle + path {
  fill: var(--text-color) !important;
}

.CrossPlatform__text {
  fill: var(--text-color);
}
.CrossPlatform__arrow {
  fill: var(--text-color);
}

@media (max-width: 900px) {
  .CrossPlatform {
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: column;
  }

  .CrossPlatform__media,
  .CrossPlatform__media svg {
    height: 300px;
    width: 300px;
  }
  .CrossPlatform__text p {
    width: 100%;
    max-width: 500px;
  }
  .CrossPlatform__text h3 {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .CrossPlatform {
    padding-left: 20px;
    padding-right: 20px;
  }
  .CrossPlatform__media,
  .CrossPlatform__media svg {
    height: 250px;
    width: 250px;
  }
}
