.Section {
  margin-top: 60px;
  position: relative;
}

.Section__title {
  color: var(--text-color);
  text-decoration: none;
}

.Section__hash {
  opacity: 0;
  position: absolute;
  left: -30px;
}

.Section:hover {
  cursor: pointer;
}

.Section:hover .Section__hash {
  opacity: 1;
}
